# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
.env/


## AliQ:
Django/**/migrations/0*.py
Configs/*.log.*
Configs/*.sock
Configs/nginx.conf
